body {
  margin: 0;
  background: linear-gradient(to right, teal, rgb(168, 2, 168));
}

.navbar {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: white;
  font-size: 2.5rem;
}

.links {
  font-size: 1.75rem;
  font-weight: bold;
}

.links a {
  text-decoration: none;
  color: darkgray;
  padding: 20px;
}

.links a:hover {
  color: white;
  cursor: pointer;
}

.calculator-grid {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  text-align: center;
  justify-content: center;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(0, 0, 0, .5);
  min-height: 100px;
  display: flex;
  font-family: 'Nunito-ExtraLight';
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color:rgb(225, 225, 225, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calculator-grid button {
  cursor: pointer;
  background-color: rgb(225, 225, 225, .3);
  font-size: 1.7rem;
  border: 1px solid rgb(225, 225, 225, .4);
}

.calculator-grid button:hover {
  background-color: rgb(225, 225, 225, .5);
}

@media only screen and (max-width: 1000px) {
  .header {
    font-size: 2.25rem;
  }

  .links {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 30px;
    display: flex;
  }

  .header {
    font-size: 1.6rem;
  }
  
  .links {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .links a {
    padding: 10px;
  }

  .calculator-grid {
    margin-top: 2rem;
  }

}

@media only screen and (max-width: 600px) {
  .navbar {
    display: block;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .links {
    display: flex;
    justify-content: center;
  }
  
  .calculator-grid {
    grid-template-columns: repeat(4, 4.5rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 4.5rem);
    margin-top: 1.5rem;
  }

  .output .previous-operand {
    font-size: 1.25rem;
  }
  
  .output .current-operand {
    font-size: 2rem;
  }
  
  .calculator-grid button {
    font-size: 1.4rem;
  }

}